.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px black solid;
}

.logo {
  width: 100px;
  height: 100px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.options {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.search {
  margin: 5px 0;
}

.filter-btn {
  margin: 5px;
}

.shimmer-container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 5px;
  width: 250px;
  height: 350px;
  padding: 10px;
  background-color: #ebebeb;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  margin: 5px;
  width: 250px;
  height: 400px;
  padding: 10px;
  background-color: #ebebeb;
}

.res-card:hover {
  cursor: pointer;
  border: 1px black solid;
}

.res-card > img {
  width: 240px;
  height: 150px;
}
